/* Скругления */
:root {
  /* Радиус скругления для блока */
  --a-borderR--x6: 6px;

  /* Радиус скругления для блока */
  --a-borderR--x10: 10px;

  /* Радиус скругления для блока */
  --a-borderR--card: 22px;

  /* Радиус скругления для кнопок */
  --a-borderR--btn: 10px;

  /* Радиус скругления для инпута */
  --a-borderR--input: 16px;

  /* Радиус скругления для форм */
  --a-borderR--dialog: 40px;
}

